@import "../../styles/variables.scss";

.introduction {
  background-color: $black;
  padding-top: 100px;
  background-image: url("../../resources/images/herobkg.e04ed930.webp");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 70%;
  background-position-y: bottom;
  height: 600px;

  h1 {
    font-size: 90px;
    line-height: 1;
  }

  .intro-small-first {
    font-weight: 600;
    font-size: 25px;
  }

  .intro-small-second {
    font-family: 'Days One', sans-serif !important;
    font-weight: 600;
    font-size: 25px;
  }
}

.intro-container  {
  max-width: 1300px;
  margin: auto;
  display: flex;
}
.intro-box {
  width: 50%;
}
.intro-inner {
  text-align: left;
  padding-left: 83px;
  height: 100%;
  padding-top: 30px;

  .intro-small-first {
    margin-left: 120px;
  }
  .intro-small-second {
    text-align: left;
  }
  .get-llama-btn {
    margin-left: 115px;
  }
}
.empty-box {
  width: 50%;
}

.get-llama-btn {
  @include btn;
  @include btn-lg;
  background-color: rgb(255, 214, 66);
  font-weight: 700;
  margin-top: 30px;
}

.intro-steps {
  margin-top: 20px;
  margin-left: 120px;

  & > :last-child {
    font-weight: 600;
    margin-left: 20px;
  }

  .ticked {
    color: $yellow;
    &::before {
      content: "";
      width: 60px;
      background-color: red;
      height: 2px;
      margin-top: 13px;
      transform: rotate(12deg);
      position: absolute;
    }
  }
}

@media screen and (max-width: 700px) {
  .introduction-container {
    flex-direction: column;

    .intro-box {
      width: 100%;
    }
    .intro-inner {
      text-align: center;
      width: 100%;
      max-width: 100%;
    }
    .intro-steps {
      justify-content: center;
    }
  }
}
